<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innotech filler - Settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{% static 'images/logo.png' %}" alt="Логотип">
        </header>
        <main class="main">
            <h2>Настройки</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="todo-lists">
                    <div class="todo-list">
                        <label for="todo1">Определение автообъема</label>
                        <input type="checkbox" id="todo1" name="todo1" {% if settings.todo1 %}checked{% endif %}>
                    </div>
                    <div class="todo-list">
                        <label for="todo2">Проверка наличия стакана</label>
                        <input type="checkbox" id="todo2" name="todo2" {% if settings.todo2 %}checked{% endif %}>
                    </div>
                </div>
                <div class="buttons">
                    <a href="{% url 'index' %}"><button type="button" id="backButton">Назад</button></a>
                    <button type="submit">Сохранить</button>
                    <button type="button" id="calibrateButton">Калибровка</button>
                </div>
            </form>
        </main>
    </div>
    <script src="{% static 'js/scripts2.js' %}"></script>
</body>
</html>
