body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Красивый шрифт */
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Увеличен отступ после картинки */
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header img {
    width: 280px; /* Уменьшено на 15% */
    height: 40px; /* Уменьшено на 15% */
    margin-top: 26px;
}

.main h2 {
    font-size: 19px;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px; /* Увеличен вертикальный промежуток на 6 пикселей */
}

.input-group label {
    margin-right: 10px;
    font-size: 18px; /* Увеличен размер шрифта */
}

.input-group input {
    width: 33%; /* Уменьшена ширина в два раза */
    padding: 5px; /* Увеличена высота в полтора раза */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
    font-size: 21px; /* Увеличен размер шрифта */
}

.input-group span {
    margin-left: 12px;
}

button {
    background: #044183; /* Убран градиент */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px; /* Увеличена высота */
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавлена тень */
    font-size: 16px; /* Увеличен размер надписи */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Одинаковый шрифт для всех кнопок */
}

button:hover {
    background: #084c94; /* Убран градиент */
}

.toggleButton {
    margin-top: 20px; /* Добавлен отступ сверху */
}

.todo-lists {
    margin-top: 20px;
    margin-bottom: 20px; /* Увеличен вертикальный промежуток между туду листом и кнопками на 10 пикселей */
}

.todo-list {
    margin-bottom: 10px;
    font-size: 24px; /* Увеличен размер шрифта в два раза */
}

.todo-list input {
    margin-right: 10px;
}

.buttons {
    margin-bottom: 20px; /* Увеличен вертикальный промежуток между последними кнопками и краем окна */
}

.status {
    margin-top: 20px;
}

.status p {
    font-size: 18px;
    margin-bottom: 10px;
}

.status button {
    margin-top: 15px;
    margin-bottom: 15px;
}

#fillerStatus {
    color: black; /* Состояние наливатора остается черным */
}
